.buttons{
    padding-top: 200px;
    width: 25%
}

.button{
    color: lawngreen;
    width: 250px;
    height: 50px;
    font-size: 20px;
<!-- bootstrap -->
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.back{
    padding-top: 10%;
    padding-left: 12%;
}

.back:hover{
    cursor: pointer;
}