div{
    padding: 5% 20% 2%;
    text-align: center;
}
.from{
padding: 0 20%;
}

.button {
    height: 100px;
    width: 500px;
<!-- bootstrap -->
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input[type=text]{
    margin-left: 23%;
    text-align: center;
    width: 50%;
}