div{
    padding: 10% 0 5%;
    text-align: center;
    font-size: 30px;
}

.button {
<!-- bootstrap -->
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}