button {
    padding: 5% 0 5% 7%;
<!-- bootstrap -->
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.text{
    text-align: center;
    padding-top: 10%;
}

.buttons{
    padding: 4% 40%;
}