.contain {
    max-width: 100%;
    min-height: 500px;
}

.but{
    padding: 20px 30%;
}

.button {
    color: whitesmoke;
    background-color: #0089be;
    width: 150px;
    height: 60px;
<!-- bootstrap -->
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.lines {
    padding: 15% 35%;
}