.button {
    padding-left: 15%;
<!-- bootstrap --> display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

div {
    padding: 2% 1% 1% 35%;
}

input[type=text] {
    width: 40%;
}