* {
    background-color: black;
    color: lawngreen;
    font-family: Consolas;
}

.atm-container {
    max-width: 100%;
    min-height: 500px;
}

.starter-template {
    padding: 5%;
}

input[type="text"] {
    background-color: #151515;
}

label {
    padding-top: 15px;
}

.final-button{
    padding-top: 20px;
}
